---
title: This is CLIENT Portal
template: "base.njk"
---
<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
	{% include "header.njk" %}

<main>

	<div class="container">
		{{ content | safe}}
	</div>

</main>
	{% include "footer.njk" %}

</body>
</html>