---
title: This is CLIENT Portal
template: "base.njk"
---
<!DOCTYPE html>
<html lang="fr">
{% include "head.njk" %}
<body>
	{% include "header.njk" %}

<main>
	
	{{ content | safe}}

</main>
	{% include "footer.njk" %}

</body>
</html>