<header>
<div class="container mt-5 mb-5 pt-4 pb-4">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{subtitle}}</p>
  <a class="btn btn-primary" href="mailto:bonjour@sandrinerodrigues.fr?cc=romain@kromatic.fr;contact@keeply.fr&subject=Projet IPAMAC">
  	Écrire à l'équipe projet
  </a>
</div>
</header>