<h2>Liens utiles</h2>

{% for link in links %}
		<a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>
{% endfor %}
