{% for task in tasks %}

	{% if task.done %}
		<i class="fa-solid fa-square-check"></i>
	{% else %}
		<i class="fa-solid fa-square"></i>
	{% endif %}
	{{task.name}} <em>({{task.actor}})</em> {{task.details}} {{task.due_date}}
	<br>

{% endfor %}