{% from "./modules/people.njk" import people %}

{% for teammate in collections.teammates %}

	{{ people(teammate.data.name, teammate.data.role, teammate.data.email, teammate.data.site) }}

{% endfor %}
