{% macro people(name, role, email, site) %}
<i class="fa-solid fa-user"></i> <mark>{{name}} ({{role}})</mark>
	<a href="mailto:{{email}}">email</a>
	- <a href="{{site}}" target="_blank" rel="noopener noreferrer">site</a><br>
{% endmacro %}