---
title: This is CLIENT Portal
layout: "base.njk"
---

<h2>Membres de l'équipe</h2>
{% include "teammates.njk" %}


<h2>Tâches</h2>
{% for item in collections.tasks %}
	{{ item.templateContent | safe }}
{% endfor %}

<h2>Documents</h2>
<ul>
{% for document in documents %}
	<li>
		<a href="{{document.link}}" target="_blank" rel="noopener noreferrer">
		{{document.title}}
		</a>
	</li>
{% endfor %}
</ul>

<h2>Liens utiles</h2>
<ul>
{% for link in links %}
	<li>
		<a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a> 
	</li>
{% endfor %}
</ul>

