---
title: This is CLIENT Portal
layout: "base.njk"
---

<h2>Membres de l'équipe</h2>
{% include "teammates.njk" %}


<h2>Tâches</h2>
{% for item in collections.tasks %}
	{{ item.templateContent | safe }}
{% endfor %}

<h2>Documents</h2>
{% for document in documents %}
	{{document.title}}
{% endfor %}



<h2>Documents</h2>
{% for document in documentsAirtable %}
	{{document.title}}
{% endfor %}